.home {
    max-width: 1500px;
    margin-left: 100px;
    margin-right: 100px;
}

.home__Image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -100px;
}
/*  z-index tells wheteher obj has to be in front of or back(overlapping) other obj               */

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
}